body {
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Source Sans Pro';font-size: 22px;
}

.web {
    font-family: 'Source Code Pro';font-size: 36px;
}

.grap {
    font-family: 'Yatra One';font-size: 36px;
}

.title {
    font-family: 'Poppins';font-size: 64px;font-weight: 900;font-style: italic;
    position: relative;
    left: -200vw;
    
}

.title:hover {
    cursor: pointer;
}


#more {
  opacity: 0;
}


#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.help {
    opacity: 0;
}

img {
    max-height: 100vh;
    width: auto;
}

.intro{
    z-index: 50;
    opacity: 1;
    transition: transform 3s ease-in-out;
}

.mynav {
    z-index: 10;
}

.navs {
    color: white;
    transition: all .5s ease;
}


.navshow{
    background-color: black;
    color: white;
    opacity: 1;
}

#main {
    opacity: 0;
}

.intro.zooms {
    transform: scale(3);
}


  

/* * {
    border: 1px solid red;
} */


.mock {

    background-image: url('../images/mocks.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}