@font-face {
    font-family: 'Yeseva One'; /*a name to be used later*/
    src: url('fonts/YsevaOne.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Vogue'; /*a name to be used later*/
    src: url('fonts/Vogue.ttf'); /*URL to font*/
}

body {
    overflow: hidden;
    font-family: 'Source Sans Pro';font-size: 22px;
}

.web {
    font-family: 'Source Code Pro';font-size: 36px;
}

.grap {
    font-family: 'Yatra One';font-size: 36px;
}

.title {
    font-family: 'Yatra One';font-size: 64px;
}
#more {
  opacity: 0;
}


#canvas-basic {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.help {
    opacity: 0;
}

img {
    max-height: 100vh;
    width: auto;
}

/* * {
    border: 1px solid red;
} */