body{
    background-color: #fff;
}

#navbar {
    z-index: 100;
}

#main {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    background-image: url(../images/bg-main.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#scrollmenu li a{
    font-family: 'Anton';
    font-size: 5em;
    list-style-type: none;
}

#scrollmenu a{
    color: rgba(200, 200, 200, 0);
    text-shadow: 5px 5px #333;
}
